{% extends "panel/main.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="form-wrapper section">

        <div class="span7 personal-info">

            <ul class="nav nav-tabs">
                <li>
                    <a href="/settings/account/" data-toggle="tab"
                       class="active">Account</a>
                </li>
                <li>
                    <a href="/settings/billing/" data-toggle="tab">Billing</a>
                </li>
                <li>
                    <a href="/settings/password/"
                       data-toggle="tab">Password</a>
                </li>
            </ul>

            <h5 class="personal-title">Account info</h5>

            <form action="/settings/account/" method="post">{% csrf_token %}
                {% for form in forms %}
                    {% for field in form %}
                        <div class="field-box">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {% if field.field.choices %}
                                <div class="ui-select">
                            {% endif %}
                            {% if field.name in form.Meta.readonly_fields %}
                                {{ field|add_class:"inline-input"|attr:"readonly:readonly" }}
                            {% else %}
                                {{ field|add_class:"inline-input" }}
                            {% endif %}
                            {% if field.field.choices %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="span6 field-box actions">
                    <input type="submit" class="btn-glow primary"
                           value="Save Changes">
                    <span>OR</span>
                    <input type="reset" value="Cancel" class="reset">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
