{% extends "panel/service_wizard/main.html" %}
{% load widget_tweaks %}
{% block actual_form %}
    {% for field in form %}
        <div class="field-box">
            {{ field.errors }}
            {{ field.label_tag }}

            {% if field.name == 'database' %}
                <div class="span5">
                    {% for key,value in field.field.choices %}
                        <label class="radio">
                            <div class="radio">
                        <span class="">
                            <input type="radio" name="database-database"
                                   id="optionsRadios1" value="{{ key }}"
                                   checked="">
                        </span>
                            </div>
                            {{ value }}
                        </label>
                    {% endfor %}
                </div>
            {% else %}
                {{ field|add_class:"input-xlarge" }}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
