{% for field in form %}
    <div class="field-box">
        {{ field.errors }}
        {{ field.label_tag }}

        {% if field.name == 'source' %}
            <div class="span8">


                {% for key,value in field.field.choices %}
                    <label class="radio">
                        <div class="radio">
                        <span class="">
                            <input type="radio" name="source-source"
                                   id="optionsRadios1" value="{{ key }}"
                                   checked="">
                        </span>
                        </div>
                        {{ value }}
                    </label>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}
