#pad-wrapper h4 {
    font-style: normal;
}

#sidebar-nav {
    padding-top: 0.8em;
}

#pad-wrapper {
    margin-top: 25px;
}

.header {
    margin-bottom: 25px;
}

.form-wrapper h5.personal-title {
    font-size: 22px;
    margin: 0 0 50px 0px;
    color: #696d73;
    font-style: normal;
}

.form-wrapper {
    border-left: none;
    box-shadow: none;
}

a.active {
    color: black;
}

.form-wrapper form {
    margin-left: 0px;
}

element.style {
}

Matched CSS Rules
.inline-input input[type="text"], .inline-input input[type="password"], input[type="text"].inline-input, input[type="password"].inline-input {
    background: #fff;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 1px solid #d0dde9;
    border-radius: 0;
    box-shadow: none;
    border-color: #dee3ea;
}

input[type="text"], input[type="password"], textarea {
    font-size: 13px;
    -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 20px;
    margin-bottom: 10px;
    font-size: inherit;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
}

.form-wrapper .ui-select {
    width: 32%;
}

.form-wrapper .actions {
    text-align: left;
}

.login-wrapper .box a.forgot {
    font-style: normal;
}

div.radio input {
    opacity: 100;
}

div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
    background-image: none;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-left: 0px;
}
