<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="index.html"><img
                src="{{ STATIC_URL }}img/logo.png"></a>

        <!-- shows same menu as sidebar but for mobile devices -->
        <button type="button" class="btn btn-navbar visible-phone"
                data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse visible-phone mobile-menu">
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/services/">Services</a></li>
                <li><a href="chart-showcase.html">Charts</a></li>
                <li><a href="user-list.html">Users</a></li>
                <li><a href="form-showcase.html">Forms</a></li>
                <li><a href="gallery.html">Gallery</a></li>

                <li><a href="calendar.html">Calendar</a></li>
                <li class="active"><a href="tables.html">Tables</a></li>
                <li><a href="ui-elements.html">UI Elements</a></li>
            </ul>
        </div>
        <!-- end navbar for mobile devices -->

        <ul class="nav pull-right">
            <li class="hidden-phone">
                <input class="search" type="text">
            </li>
            <li class="settings">
                <a href="personal-info.html" role="button">
                    <span class="navbar_icon"></span>
                </a>
            </li>
            <li id="fat-menu" class="dropdown">
                <a href="signin.html" role="button" class="logout">
                    <span class="navbar_icon"></span>
                </a>
            </li>
        </ul>

    </div>
</div>
