{% extends "panel/main.html" %}
{% block content %}
    <div class="row-fluid header">
        <h4>Dashboard</h4>
    </div>
    <h5>Current tariff: <a href="#">{{ django_tariff }}</a></h5>
    <div class="usage-bar">
        <dl>
            <dt>Virtual hosts used <strong>{{ django_vhosts_total }}
                of {{ django_vhosts_available }}</strong></dt>
            <dd><span style="width: {{ usage_bar_value }}%;"
                      class="{{ usage_bar_level }}"></span></dd>
            {% if django_vhosts_total < django_vhosts_available %}
                <a class="btn-flat btn-large primary" href="/services/create/"><i
                        class="icon-plus"></i> Create virtual host</a>
            {% else %}
                <p>Your virtual hosts quota is exceeded. You can upgrade your
                    account to get more.</p>
                <a class="btn-flat success" href="/account/upgrade/"><i
                        class="icon-upload"></i> Upgrade</a>
            {% endif %}

        </dl>
    </div>
{% endblock %}
