<div id="sidebar-nav" class="hidden-phone">
    <ul id="dashboard-menu">
        <li class="{% if pointer == 'home' %}active{% endif %}">
            {% if pointer == 'home' %}
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
            {% endif %}
            <a class="tab1" href="/">
                <i class="sidebar-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="{% if pointer == 'services' %}active{% endif %}">
            {% if pointer == 'services' %}
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
            {% endif %}
            <a class="tab5" href="/services/">
                <i class="sidebar-widgets"></i>
                <span>Services</span>
            </a>
        </li>
        {#        <li class="">#}
        {#            <a class="tab2" href="chart-showcase.html">#}
        {#                <i class="sidebar-charts"></i>#}
        {#                <span>Charts</span>#}
        {#            </a>#}
        {#        </li>#}
        {#        <li class="">#}
        {#            <a class="tab2" href="user-list.html">#}
        {#                <i class="icon-group"></i>#}
        {#                <span>Users</span>#}
        {#            </a>#}
        {#        </li>#}
        {#        <li class="">#}
        {#            <a class="tab3" href="form-showcase.html">#}
        {#                <i class="sidebar-forms"></i>#}
        {#                <span>Forms</span>#}
        {#            </a>#}
        {#        </li>#}
        {#        <li class="">#}
        {#            <a class="tab4" href="gallery.html">#}
        {#                <i class="sidebar-gallery"></i>#}
        {#                <span>Gallery</span>#}
        {#            </a>#}
        {#        </li>#}
        {#        <li class="">#}
        {#            <a class="tab6" href="calendar.html">#}
        {#                <i class="sidebar-calendar"></i>#}
        {#                <span>Calendar</span>#}
        {#            </a>#}
        {#        </li>#}
        {#        <li class="active">#}
        {#            <div class="pointer">#}
        {#                <div class="arrow"></div>#}
        {#                <div class="arrow_border"></div>#}
        {#            </div>#}
        {#            <a class="tab7" href="tables.html">#}
        {#                <i class="sidebar-tables"></i>#}
        {#                <span>Tables</span>#}
        {#            </a>#}
        {#        </li>#}
        {#        <li class="">#}
        {#            <a class="tab8" href="ui-elements.html">#}
        {#                <i class="sidebar-ui"></i>#}
        {#                <span>UI Elements</span>#}
        {#            </a>#}
        {#        </li>#}
        {#        <li class="">#}
        {#            <a class="tab9" href="personal-info.html">#}
        {#                <i class="sidebar-gear"></i>#}
        {#                <span>My Info</span>#}
        {#            </a>#}
        {#        </li>#}
        {#        <li class="">#}
        {#            <a class="tab10" href="signin.html">#}
        {#                <i class="sidebar-logout"></i>#}
        {#                <span>Login page</span>#}
        {#            </a>#}
        {#        </li>#}
    </ul>
</div>
